/* Global Styles */
:root {
    --primary-color: #C81D25;
    --secondary-color: #D2FDFF;
    --background-color: #080809;
    --secondary-background-color: #0A0D11;
    --primary-accent-color: #DE9E36;
    --secondary-accent-color: #DE9E36;
    --border-color: #C81D25;
    
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 10px;
}

h1 {
    color: var(--secondary-color);
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

hr {
    background-color: var(--primary-color);
    border: none;
    height: 1px;
    margin: 30px 0;
    opacity: 0.5;
}

/* Custom Element Styles */

subtitle {
    color: var(--secondary-color);
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 1.5;
}

tag {
    color: var(--primary-color);
    font-family: 'Geist Mono', monospace;
    font-size: 11px;
    letter-spacing: 3px;
    line-height: 3;
}

/* Class Styles */

.container {
    color: var(--secondary-color);
    font-family: 'Geist Mono', monospace;
    margin: 0 auto;
    max-width: 800px;
}

.header {
    line-height: 0.5;
    padding-bottom: 20px;
}

.intersect {
    color: var(--primary-color);
}
