/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

/* Global Styles */
:root {
  --primary-font-color: #e9e9e9;
  --background-color: #080809;
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: var(--background-color);
  color: var(--primary-font-color);
  font-family: var(--font-jet-brains);
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

/* Global Classes */
.subtitle {
  word-wrap: break-word;
  white-space: wrap;
  font-family: var(--font-jet-brains);
  text-transform: uppercase;
}
