---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!------------- HEADER ------------->

		<!------------ END HEADER----------->

		<div class="hero">
			<div class="subtitle">Journey Of The</div>
			<h1>Software Craftsman</h1>
			<p class="comingsoon">Updating Soon</p>
		</div>

		<!------------ MAIN ------------->
		<main>
			
		</main>

		<!------------ END MAIN ------------->

		<!-------------- FOOTER ------------->
		<div class="footer">
			<Footer />
		</div>
		<!----------- END FOOTER ------------>
	</body>

	<style>
		.comingsoon {
			margin-top: 50px;
			font-size: xx-small;
		}

		.hero {
			word-wrap: break-word;
			white-space: wrap;
			text-align: center;
		}
	</style>
</html>
