---
interface Props {
	game: string,
    book: string
}

const { game, book } = Astro.props;
---
<div class="currently">
    <p>Currently Playing: <span class="highlight">{game}</span></p>
    <p>Currently Reading: <span class="highlight">{book}</span></p>
</div>
<style>
	.currently {
        display: flex;
        gap: 8;
        margin: 4px 0 36px;
        flex-wrap: wrap;
        font-size: 11px;
    }

    p {
        color: #C81D25;
        font-family: 'Helvetica', sans-serif;
        border: 1px solid #C81D25;
        padding: 9px 18px;
        background-color: #0A0D11;
        text-transform: uppercase;
    }

    .highlight {
        color: #DE9E36
    }
</style>