---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<h3>{SITE_TITLE}</h3> 
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog/">Blog</HeaderLink>
		<HeaderLink href="/games/">Games</HeaderLink>
	</nav>
</header>
<style>
	header {
		display: flex;
		flex-direction: row;
		padding: 5px;
		justify-content: space-between;
		font-family: Arial, Helvetica, sans-serif;
		letter-spacing: 3px;
	}

	nav {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		letter-spacing: 3px;
		padding: 2px;
		text-transform: uppercase;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}
</style>
